<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.images = {
    logo: "<%=image_path('clevernote-logo.png')%>" ,
    trash: "<%=image_path('delete-icon.png')%>",
  }
</script>

<main id="root">App</main>
