/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'reset.scss';
@import 'signup_navbar.scss';


#root {
  /*display: inline-flex;*/
  background-color: Azure;
  /*font-family: Helvetica, Arial, sans-serif;*/
}

.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  width: 500px;
  min-height: 450px;
  float: left;
  padding-left: 55px;
  padding-right: 25px;
}

.input, .login-button {
  padding-left: 15px;
  background-color: #f2f2f2;
  border-radius: 5px;
  width: 360px;
  height: 48px;
  margin-top: 15px;
}

.login-button{
  background-color: #00cc03;
  text-align: center;
}

.signup-form {
  font-weight: bold;
  font-family: 'Muli', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  min-height: 450px;
  float: left;
  margin-left: 55px;
  padding: 25px;
  border-left-style: inset;
}

.greeting1 {
  font-family: 'Open Sans', sans-serif;
  font-stretch: extra-expanded;
  font-size: 58px;
  line-height: 70px;
  font-weight: bold;
}

.greeting2 {
  font-weight: bold;
  font-family: 'Muli', sans-serif;
  font-weight: 100;
  font-size: 18px;
}
