/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'reset.scss';
@import 'login.scss';
#root {
  /*font-family: Helvetica, Arial, sans-serif;*/
}

.body-wrapper {
  display: flex;
  align-items: center;
}

.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  width: 50%px;
  min-height: 450px;
  float: left;
  padding: 70px;
  // border-right: 2px black;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.divider{
  border-left: 1px solid #f2f2f2;
  max-width: 3px;
  min-height: 400px;
}

.login-button:hover {
  cursor: pointer;
}

.input, .login-button {
  padding-left: 15px;
  background-color: #f2f2f2;
  border-radius: 5px;
  width: 360px;
  height: 48px;
  margin-top: 15px;
}

.login-button {
  background-color: #00cc03;
  text-align: center;
}

.signup {
  font-weight: bold;
  font-family: 'Muli', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  min-height: 450px;
  float: left;
  margin-left: 55px;
  padding: 25px;
  border-left: 2px black;
}

.greeting1 {
  font-family: 'Open Sans', sans-serif;
  font-stretch: extra-expanded;
  font-size: 58px;
  line-height: 70px;
  font-weight: bold;
}

.greeting2 {
  font-weight: bold;
  font-family: 'Muli', sans-serif;
  font-weight: 100;
  font-size: 18px;
}
