.left-navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 75px;
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 75px;
  justify-content: space-between;
}

.new, .logout {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00cc00;
  border: 1px solid #00cc00;
  width: 32px;
	height: 32px;
  border-radius: 30px;
  background-color: white;
  padding-bottom: 6px;
  padding-left: 4px;
  padding-right: 4px;
}

.note-book-logo, .tags-logo, .all-notes-logo {
  width: 40px;
	height: 40px;
}

.new:hover {
  background-color: #00cc00;
  color: white;
}

.tags-logo:hover {
  cursor:pointer;
}
//
.note-book-logo:hover,  {
  cursor: pointer
}

.all-notes-logo:hover,  {
  cursor: pointer
}

.logout:hover {
  background-color: #00cc00;
  color: white;
}

.new {
  font-size: 40px;
}
.notebooks{
  font-size: 22px;
}

.logout {
  font-size: 25px;
  padding-bottom: 4px;
  padding-top: 2px;
  // align-items: baseline;
}
