.notebook-modal, .tags-modal {
  display: flex;
  flex-direction: row;
}

.notebook-list-item, .notebooks-list, .tags-list, .tag-list-item {
  list-style: none;
}

.notebooks-list, .tags-list {
  display: flex;
  flex-direction: column;
}

.notebook-title, .tag-name{
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 18px;
}

.notebook-list-item, .fixed-first-notebook, .fixed-first-tag, .tag-list-item {
  padding-top: 10px;
  padding-left: 10px;
  height: 52px;
  border-bottom: 1px solid #e6e6e6;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: #484848;
}

.notebook-list-item:hover {
  background-color: #00cc00;
  color: white;
}

.tag-list-item:hover {
  background-color: #00cc00;
  color: white;
}

.tag-list-item:hover .tag-note-count {
  color: white;
}
.notebook-list-item:hover .notebook-notecount {
  color: white;
}

.fixed-first-notebook, .fixed-first-tag {
  height: 100px;
  font-size: 24px;
}

.notebook-notecount, .tag-note-count{
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  padding-top: 8px;
  color: #808080;
}
