.edit-note-container {
  display: flex;
}

.edit-note-form {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  height: 725px;
  width: 810px;
}

.new-note {
  width: 100%;
  height: 100%;
}

.title, .edit-body {
  font-family: 'Montserrat', sans-serif;
  padding-left: 15px;
}

.title {
  color: #00cc00;
  font-weight: 100;
  font-size: 40px;
  padding-top: 8px;
  padding-left: 15px;
}

.title::placeholder{
  color: #00cc00;
}
.edit-body {
  font-weight: 100;
  font-size: 14px;
  color: darkgray;
  padding-top: 8px;
  overflow: hidden;
  height: inherit;
}

.edit-submit {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 14px;
  border: 1px solid lightgray;
  padding-left: 8px;
  max-width: 160px;
}
