.edit-note-container {
  display: flex;
}

.edit-note-form {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  height: 725px;
  width: 810px;
}

.new-note {
  display: flex;
  justify-content: center;
  // margin-bottom: 20px;
  width: 100%;
  height: 100%;
}

.new-note-submit {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 70px;
  border-radius: 25px;
  font-size: 16px;
  background-color: #00cc00;
  color: white;
  // border: 2px solid #00cc00;
  cursor: pointer;
}

.title, .edit-body {
  font-family: 'Montserrat', sans-serif;
  padding-left: 15px;
}

.title {
  // position: absolute;
  color: #00cc00;
  font-weight: 150;
  font-size: 40px;
  padding-top: 5px;
  padding-left: 25px;
}

.title::placeholder{
  color: #00cc00;
}

// .quill-body {
//   padding-top: 40px;
// }

.edit-body {
  // padding-top: 30px;
  white-space: pre;
  // position: absolute;
  font-weight: 100;
  font-size: 16px;
  color: darkgray;
  padding-top: 8px;
  overflow: hidden;
  height: inherit;
}

.edit-body:value {
  padding-top: 40px;
}

.edit-submit {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 14px;
  border: 1px solid lightgray;
  padding-left: 8px;
  max-width: 160px;
}
