.signup-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  padding-left: 40px;
  padding-right: 60px;
  // width: 1200px;
  height: 30px;
  font-family: 'Muli', sans-serif;
  border-bottom: 1px solid #f2f2f2;
  font-size: 18px
}

.Clevernote {
  color: #00cc03;
  font-size: 18px;
  font-weight: bold;
}
.elephant {
  -webkit-filter: opacity(50%);
  filter: opacity(50%);
  max-width: 60px;
  max-height: 40px;
  color: #00cc03;
 }

 .logo {
   display: flex;
   align-items: center;
 }


//
// .Clevernote::first-letter{
//   font-size: 24px;
//   font-weight: 500px;
// }
