// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.all-tags {
  height: 60px;
  display: flex;
  padding-left: 20px;
  align-items: center;
}

.tag-names {
  display: flex;
  padding-left: 2px;
  padding-right: 2px;
  height: 30px;
  border: 1px solid darkgray;
  border-radius: 8px;
  cursor: pointer;
  min-width: 85px;
  font-family: 'Montserrat';
  font-size: 15px;
  justify-content: center;
  // color: #00cc00;
}

.tag-names{
  background-color: #f5f5f5;
}

.tag-names .tags-unselected {
  background-color: #00cc00;
}
